.image-container {
    margin-bottom: 20px;
    text-align: center; /* Centraliza o conteúdo dentro do container */
}

.button {
    display: inline-block; /* Para que o link se comporte como um botão */
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito de transição */
}

.button:hover {
    background-color: #2980b9; /* Cor do botão ao passar o mouse */
}

.container {
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    color: #e74c3c; /* Cor vermelha para o título */
}

.container p {
    color: #555;
}

.container a {
    text-decoration: none;
    color: #3498db; /* Cor azul para o link */
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
